.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal { 
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    @include mobile {
        width: 450px;
    }
    @include desktop {
        width: 528px;
    }
    
    min-height: 581px;

    background: var(--background-modal);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0); 
}

.modal-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--comand-soc-hover);
    }
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    margin-bottom: 12px; 

    @include font (700, 20px, 1.15, 0.03em);    
    text-align: center;     
    color: var(--color-modal-title);
}

.modal-field {
    margin-bottom: 10px;
}

.input-wrap {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;  
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    .modal-input:focus + &,
    .modal-input:hover + & {
        fill: var(--button-form-send);
    }
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    padding-left: 42px;
    outline: transparent;

    color: #3d3e45;
    font-size: 14px; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    &:focus,
    &:hover {
        border-color: var(--button-form-send);
    }
    &::placeholder {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.input-label {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
    color: var(--modal-label);
}

.modal-text {
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    color: var(--modal-label);
    
    &::placeholder {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal-send {
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;

    @include font (700, 16px, 1.9, 0.06em);  

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    

    border: none;
    color: var(--background-modal);
    background-color: var(--button-form-send);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--background-form-send);
    }
}

.modal-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-text {
    @include font (400, 7px, 1.17, 0.03em);
    @include mobile {
        @include font (400, 12px, 1.17, 0.03em);
    }
    
    @include desktop {
        @include font (400, 14px, 1.71, 0.03em);
    }
    
    
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;

    & span {
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 3px;
        margin-right: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.check-deal {
    color: var(--button-form-send);
    margin-left: 5px; 
}

.input-check:checked + .check-text span {
    background-color: var(--button-form-send);
    border-color: transparent;
    fill: var(--background-modal);
    background-origin: border-box;
}

