body {
  background: var(--page-back-color);
  font-family: "Roboto", sans-serif;  
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    &:nth-child(3) {
        padding-top: 0;
    }

    @include desktop {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}

