:root {
  --page-back-color: #ffffff;
  --hero-back-color: #2f303a;
  --command-back-color: #f5f4fa;
  --footer-back-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-text-color: #000000;
  --header-contacts-color: #757575;
  --hero-title-color: #ffffff;
  --footer-address-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --color-border-clients: #AFB1B8;
  --comand-soc-link:  #AFB1B8;
  --color-soc-footer: #ffffff;
  --comand-soc-hover: #2196f3;
  --color-projects-top: #ffffff;
  --background-modal: #ffffff;
  --color-modal-title:  #212121;
  --button-form-send: #2196f3;
  --background-form-send: #188CE8;
  --modal-label: #757575;
}