.card-list {
    display: flex;
    gap: 30px;
}
.card-list__item {
    flex-basis: calc((100% - 90px) / 4);
}
.card-list__icon-container {
    height: 120px;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;

    background-color: var(--command-back-color);
}

.card-list__title {
    margin-bottom: 10px;
    @include font (700, 14px, 1.14, 0.03em);  
    text-transform: uppercase;
    color: var(--title-text-color);
}
.card-list__text {
    @include font (400, 14px, 1.71, 0.03em);
}
